@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 189, 97%, 55%;
  --background: 220, 43%, 1%;
  --primary-faded: 189, 79%, 23%;
  --text-on-primary: 220, 27%, 2%;
  --secondary-button-text: 210, 1%, 45%;
  --button-background: 220, 6%, 9%;
  --input-background: 188, 34%, 13%;
  --white: 0, 0%, 100%;
  --rating: 156, 100%, 40%;
}

body {
  @apply bg-background text-primary;
}
