@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 189, 97%, 55%;
  --background: 220, 43%, 1%;
  --primary-faded: 189, 79%, 23%;
  --primary-hover: 189, 100%, 73.1%;
  --primary-focus: 188 89.9% 46.5%;
  --text-on-primary: 220, 27%, 2%;
  --secondary-button-text: 210, 1%, 45%;
  --button-background: 220, 6%, 9%;
  --overlay: 220 4.76% 12.4%;
  --button-selected-background: 220, 2.65%, 22.2%;
  --button-background-brighter: 216, 6%, 16%;
  --white: 0, 0%, 100%;
  --rating: 156, 100%, 40%;
}

body {
  @apply bg-background text-primary;
}
